* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Nav  */

body {
  display: flex;
  justify-content: center;
}

nav {
  position: relative;
  top: 18px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFW…px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) 50% 50% no-repeat, -webkit-gradient(linear, 0 100%, 0 0, from(rgb(102, 102, 102)), color-stop(0.5, rgb(94, 94, 94)), color-stop(0.51, rgb(112, 112, 112)), to(rgb(128, 128, 128)));
  /* background: linear-gradient(#999, #333, #555); */
  width: 980px;
  margin: 0 auto;
  border-radius: 4px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  width: 100px;
  height: 34px;
}

.nav-icon {
  background: url(images/globalnav_text.svg) no-repeat;
}

#nav-apple {
  background-position: -25px 3px;
}

#nav-store {
  background-position: -25px -25px;
}

#nav-mac {
  background-position: -25px -55px;
}

#nav-ipod {
  background-position: -25px -85px;
}

#nav-iphone {
  background-position: -25px -115px;
}

#nav-ipad {
  background-position: -25px -145px;
}

#nav-itunes {
  background-position: -25px -175px;
}

#nav-support {
  background-position: -25px -205px;
}

#nav-search {
}

/* Main */

main {
  margin: auto;
  background-image: url(images/your_verse_hero.jpg);
  background-position: center bottom;
  height: 100%;
  max-height: 1180px;
  min-height: 538px;
  width: 1440px;
}

.verses {
  margin: auto;
  width: 900px;
  background-repeat: no-repeat;
}

#verse1 {
  margin-bottom: 30px;
  height: 40px;
  background-image: url(images/your_verse_title_small.png);
  background-position: center;
}

#verse2 {
  margin-bottom: 20;
  height: 80px;
  background-image: url(images/your_verse_subhead_small.png);
}

#verse3 {
  height: 31px;
  background-image: url(images/cta_your_verse_27pt.png);
}

#verse3:hover {
  background-position: 0px -32px;
}